---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeploy
spec:
  replicas: 1
  selector:
    matchLabels:
       env: dev
  template:
    metadata:
      labels:
        env: dev
    spec:
      containers:
        - name: mycont
          image: shaikmustafa/paytm:movie
          ports:
            - containerPort: 80
